@media (min-width: 800px) and (max-width: 1000px)
	nav
		width: 26%
		ol
			margin: 20px 0 0 10px
			font-size: 15px
	h2
		font-size: 18px
	main 
		margin-left: 30%
		padding-right: 25px
	.money
		flex-wrap: wrap
		margin-top: 60px
		li 
			width: 41.5%
			margin-right: 0
			.numbers
				font-size: 13px
				span 
					font-size: 24px
			.lowest
				img 
					width: 6%
				p 
					font-size: 12px	
		li:first-child, li:nth-child(2) 
			margin-bottom: 55px










@media (min-width: 650px) and (max-width: 800px){}


@media (min-width: 500px) and (max-width: 650px){}


@media (max-width: 500px){}